:host {
  background: #ffffff;
  box-shadow: 0 1px 7px rgb(0 0 0 / 7%);
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  line-height: 1.5;

  width: 100%;
  user-select: none;
  cursor: pointer;
  padding: 7px 15px;
}

.container {
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

img {
  width: 30px;
  display: block;
}

h5 {
  font-size: 22px;
}

p {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 300;
}
