<div class="wrapper">
  <div class="user-list">
    <div class="search">
      <input placeholder="Recherche article" type="text" />
    </div>
    <div class="list">
      <app-user-box *ngFor="let user of users" [user]="user"> </app-user-box>
    </div>
  </div>

  <div class="product-list">
    <div class="search">
      <input placeholder="Recherche client" type="text" />
    </div>
    <div class="list">
      <app-product-box *ngFor="let product of products" [product]="product"> </app-product-box>
    </div>
  </div>

  <div class="contract-detail">
    <app-contract-detail></app-contract-detail>
  </div>
</div>
<div class="icon" (click)="goBack()">
  <mat-icon class="west" fontIcon="west"></mat-icon>
</div>
