.add_item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.562);
  z-index: 9999;
}

.wrapper {
  background-color: white;
  width: 100%;
  padding-bottom: 30px;
  max-height: 90%;
  max-width: 90%;
  overflow-y: auto;
}

@media (width >= 992px) {
  .wrapper {
    max-width: 500px;
  }
}

.type {
  padding: 10px;
  background-color: #6be4f2;
  color: #5f5f5f;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.photo {
  padding: 30px;
}
.photo img {
  width: 100px;
  margin-top: 5px;
  display: block;
}
.photo label {
  width: fit-content;
  display: block;
}
.upload_image {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  width: 100%;
  gap: 10px;
}

label {
  color: var(--iq-dark);
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}

input {
  height: 45px;
  line-height: 45px;
  background: transparent;
  border: 1px solid #d7dbda;
  font-size: 14px;
  color: var(--iq-secondary);
  border-radius: 10px;
  padding: 0.375rem 0.75rem;
  display: block;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 50px;
}

.buttons button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10px;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border: 1px solid var(--iq-primary);
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

.buttons button:first-child {
  background: linear-gradient(to right, var(--iq-primary) 0%, var(--iq-primary-light) 100%);
}

.buttons button:last-child {
  background-color: var(--iq-secondary);
}
