ul {
}

ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;
  padding: 15px;
  line-height: 1;

  background: #ffffff;
  width: 100%;
  box-shadow: 0 1px 7px rgb(0 0 0 / 7%);
  border-radius: 3px;
  border: 1px solid #dbdbdb;

  user-select: none;
  cursor: pointer;
}

ul li:hover {
  background-color: #fdecef;
}

.icon {
  padding: 5px;
  border: solid 1px;
}

.money-icon {
  display: block;

  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}

h6 {
  font-weight: 600;
  color: #5f5f5f;
  font-size: 0.975rem;
}

.method-list {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  margin-bottom: 1px;
  font-weight: 500;
}

.head,
.method,
.method-list > span {
  background-color: white;
  font-size: 0.975rem;
  display: block;
  border: 1px solid #dbdbdb;

  padding: 15px;
}
.head {
  color: black;
}

.method {
  color: #5f5f5f;
}

.method-list > .date {
  font-size: 12px;
}

.method-list > :nth-last-child(2),
.method-list > :last-child {
  grid-column: span 2;
}

.calc {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(4, 60px);
  gap: 2px;
  margin-top: 30px;
}

.calc > span {
  display: flex;
  padding: 10px;
  color: #212529;
  background-color: #fdecef;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
}

.calc > span:hover {
  background-color: white;
}
