label {
  display: block;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 300;
  color: var(--iq-dark);
}

select,
input {
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: 1px solid #d7dbda;
  font-size: 14px;
  color: var(--iq-secondary);
  border-radius: 10px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 15px;
}

select option:checked {
  background-color: #d7dbda;
}

select:focus {
  color: var(--iq-dark);
  border-color: var(--iq-primary);
  box-shadow: none;
  outline: 0;
  background-color: fff;
}

h6 {
  font-size: 16px;
  font-weight: 350;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 30px;
}

button {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 10px;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  color: white;
}

button:first-of-type {
  background: linear-gradient(to right, var(--iq-primary) 0%, var(--iq-primary-light) 100%);
}
button:last-child {
  background-color: var(--iq-primary);
}
