:host {
  margin-top: 30px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  /* overflow: hidden; */
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 1px 7px rgb(0 0 0 / 7%);
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  padding: 16px;
  line-height: 1.5;
}

@media (width <= 576px) {
  :host {
    flex-direction: column;
    gap: 15px;
  }

  :host > div {
    width: 100%;
    gap: 15px;
  }
}

.search {
  position: relative;
  width: 50%;
}

.search input {
  color: #393738;
  font-size: 0.975rem;
  font-weight: 500;
  width: 100%;
  padding: 15px 40px 15px 15px;
  background: center center / contain rgb(250, 250, 250);
  align-items: center;
  border-radius: 30px;
  box-shadow: none;
  border: 1px solid rgb(219, 219, 219);
  height: 0px;
  font-size: 12px;
}
.search .icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.search-icon {
  font-size: 22px;
  width: 22px;
  height: 22px;
  line-height: 22px;
}

.actions {
  width: 50%;
  display: flex;
  gap: 10px;
}

@media (width <= 1200px) {
  .actions {
    flex-direction: column;
  }
}
.actions .add_user,
.actions .user_number {
  flex: 1;
  position: relative;
  width: auto;
  text-align: center;
  line-height: 1px;
  border-radius: 3px;
  border: none;
  padding: 8px;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  user-select: none;
  cursor: pointer;
}
.actions .user_number {
  background: rgb(250 250 250);
  color: rgb(0 0 0);
  border: 1px solid #dbdbdb;
}
.actions .add_user {
  background: rgb(0 0 0);
  color: rgb(255 255 255);
}

.actions .icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  margin-right: 5px;
  display: block;
}
