.file-input-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.file-input-wrapper input[type='file'] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: block;
}
button {
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
}
