:host {
  padding: 20px;
  flex: 1;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
@media (width >= 425px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (width >= 1200px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
