:host {
  width: 100%;
  padding: 30px 30px 50px 150px;
  position: fixed;
  top: 75px;
  left: 0;
  height: calc(100vh - 75px);
  background: #fafafa;
  overflow-y: auto;
  display: block;
}
router-outlet {
  display: contents;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 100%;
  animation-name: goleft;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  transform: translateX(600px);
  overflow-y: auto;
}
@media (width <= 1200px) {
  .wrapper {
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  }
}
@media (width <= 576px) {
  :host {
    padding: 60px 10px 60px 10px;
  }
  /* .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  } */
}
input {
  text-indent: 13px;
  height: 39px;
  margin-bottom: 10px;
  border-radius: 30px;
  font-weight: 100;
  letter-spacing: 0.6px;

  line-height: 45px;
  background: transparent;
  border: 1px solid #d7dbda;
  font-size: 14px;
  color: var(--iq-secondary);
  width: 100%;
}

nav > ul > li {
  padding: 5px 10px;
  align-items: center;
  margin-bottom: 7px;
}
nav .num {
  width: 30px;
  height: 30px;
  background-color: var(--iq-primary);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
nav h6 {
  font-size: 16px;
}
nav p {
  font-size: 14px;
}
.modes-list,
.category-list,
.sub-category-list {
  width: 100%;
  height: 700px;
  overflow-y: auto;
}

.mode,
.category,
.sub-category,
nav li {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  cursor: pointer;
  line-height: 1;

  background: #ffffff;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 1px 7px rgb(0 0 0 / 7%);
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  padding: 15px;
}
.mode .image,
.category .image,
.sub-category .image {
  width: 60px;
}
.mode img,
.category img,
.sub-category img {
  width: 100%;
}

.mode h6,
.category h6,
.sub-category h6 {
  font-size: 18px;
  border-bottom: 1px solid #ececec;
}

.icon {
  position: absolute;
  top: 30px;
  left: 70px;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (width <= 576px) {
  .icon {
    top: 10px;
    left: 15px;
  }
}

@keyframes goleft {
  100% {
    transform: translateX(0%);
  }
}
