:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  gap: 30px;
  position: fixed;
  top: 0;
  z-index: 99;

  background: var(--iq-white);
  box-shadow: 0 0 3px rgb(0 0 0 / 32%);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  height: 75px;
}
@media (width >= 1200px) {
  .container {
    padding: 0 90px;
  }
}
.sidebar {
  display: flex;
  align-items: center;
}
@media (width> 768px) {
  .sidebar {
    display: none;
  }
}
.sidebar svg {
  display: block;
}
.logo img {
  max-width: 150px;
  display: none;
}

@media (width >= 375px) {
  .logo img {
    display: block;
  }
}

@media (width >= 768px) {
  .logo img {
    max-width: 301px;
    display: block;
  }
}

.search-bar {
  position: relative;
  flex: 1;
  max-width: 480px;

  display: none;
}
@media (width >= 992px) {
  .search-bar {
    display: block;
  }
}
.search-bar input {
  width: 100%;
  background-color: #fafafa;
  padding: 0 20px;
  border: 1px solid #dbdbdb;
  height: 40px;
  font-size: 14px;

  border-radius: 30px;
  display: flex;
  align-items: center;
  flex: 1;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--iq-black);
}

.user {
  display: flex;
  align-items: center;
  width: fit-content;
}

.info {
  text-align: right;
  margin-right: 10px;
  line-height: 16px;
  display: none;
  cursor: pointer;
  user-select: none;
}

@media (width >= 576px) {
  .info {
    display: block;
  }
}

.info > h6 {
  color: #5f5f5f;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  max-width: 175px;
  text-transform: capitalize;
}
.info > p {
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 400;
}
.user .image {
  position: relative;
  cursor: pointer;
}

.user .image-container {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: 1px solid #dbdbdb;
}

@media (width>= 425px) {
  .user .image-container {
    width: 45px;
    height: 45px;
  }
}

.user .image img {
  width: 100%;
  height: 100%;
}

.profile_setting {
  position: absolute;
  right: 0;
  top: calc(100% + 12px);
  z-index: 100;
  width: 280px;
  background-color: var(--iq-white);
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}
.profile_setting ul {
}
.profile_setting ul li {
  display: flex;
  font-size: inherit;
  padding: 15px;
  line-height: normal;
  color: inherit;
  border-bottom: 1px solid #f3f7fd;
  width: 100%;
}
.profile_setting ul .icon-container {
  width: 45px;
  height: 45px;
  background-color: #efe4fc;
  color: var(--iq-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.icon-container > .icon {
  font-size: 22px;
  width: 22px;
  height: 22px;
  line-height: 22px;
}
.profile_setting ul .description {
  margin-left: 1rem;
  line-height: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profile_setting ul .description h6 {
  font-size: 16px;
}
.profile_setting ul .description span {
  font-size: 14px;
  font-weight: 400;
}

.profile_setting .sign_out {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1rem;
  font-size: 16px;
  margin: auto;
  border-radius: 15px;
  background: #f5c8d0;
  color: #d6b342;
}
.sign_out .icon {
  margin-left: 5px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}

.notifications {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  gap: 20px;

  margin-left: 15px;
}

.notifications > div {
  display: flex;
}
.notifications .icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
