:host {
  background: #ffffff;
  box-shadow: 0 1px 7px rgb(0 0 0 / 7%);
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  height: 100%;
  width: 100%;
  display: block;
  background: white url('/images/dashboard/01.691d6235.png') no-repeat center center;
  background-size: cover; /* optional */
  user-select: none;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
}

p {
  font-size: 19px;
  font-weight: 500;
  width: 30px;
  line-height: 18px;
  padding: 20px;
  color: #5f5f5f;
}
