<div class="form_wrapper">
  <div class="image">
    <p>photo</p>
    <img src="images/user.jpg" alt="" />
  </div>
  <form>
    <div class="row">
      <div>
        <label for="name">Nom*</label>
        <input id="name" type="text" placeholder="Enter votre nom" />
      </div>
      <div>
        <label for="lastname">Prénom*</label>
        <input id="lastname" type="text" placeholder="Enter votre prénom" />
      </div>
    </div>

    <div class="row">
      <div>
        <label for="phone">Téléphone*</label>
        <input id="phone" type="text" placeholder="Enter votre Téléphone" />
      </div>
      <div>
        <label for="address">Adresse*</label>
        <input id="address" type="text" placeholder="Enter votre Adresse" />
      </div>
    </div>

    <div class="row">
      <div>
        <label for="Email">Email*</label>
        <input id="Email" type="text" placeholder="Enter votre email" />
      </div>
      <div>
        <label for="Username">Username*</label>
        <input id="Username" type="text" placeholder="Enter votre username" />
      </div>
    </div>

    <div class="row">
      <div>
        <label for="password">Mot de passe*</label>
        <input id="password" type="text" placeholder="Mot de passe" />
      </div>
      <div>
        <label for="lastname">Confirmer mot de passe*</label>
        <input id="lastname" type="text" placeholder="Confirmer mot de passe" />
      </div>
    </div>
  </form>
  <div class="action">
    <div>
      <div class="save">Enregistrer</div>
      <div (click)="close()" class="close">Fermer</div>
    </div>
  </div>
</div>
