:host {
  width: 100%;
  display: contents;
}
input {
  text-indent: 13px;
  height: 39px;
  margin-bottom: 10px;
  border-radius: 30px;
  font-weight: 100;
  letter-spacing: 0.6px;
  line-height: 45px;
  background: transparent;
  border: 1px solid #d7dbda;
  font-size: 14px;
  color: var(--iq-secondary);
  width: 100%;
}

.modes-list,
.category-list,
.sub-category-list {
  width: 100%;
  height: 700px;
  overflow-y: auto;
}

.mode,
.category,
.sub-category {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  cursor: pointer;
  line-height: 1;

  background: #ffffff;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 1px 7px rgb(0 0 0 / 7%);
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  padding: 15px;
}
.mode .image,
.category .image,
.sub-category .image {
  width: 60px;
}
.mode img,
.category img,
.sub-category img {
  width: 100%;
}

.mode h6,
.category h6,
.sub-category h6 {
  font-size: 18px;
  border-bottom: 1px solid #ececec;
}
