:host {
  width: 100%;
  padding: 30px 30px 150px 150px;
  position: fixed;
  top: 75px;
  left: 0;
  height: 100%;
  background: #fafafa;
  overflow-y: auto;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 100%;
  animation-name: goleft;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  transform: translateX(600px);
  overflow-y: auto;
}
@media (width <= 1200px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
@media (width <= 576px) {
  :host {
    padding: 60px 10px 60px 10px;
  }
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
input {
  text-indent: 13px;
  height: 39px;
  margin-bottom: 10px;
  border-radius: 30px;
  font-weight: 100;
  letter-spacing: 0.6px;

  line-height: 45px;
  background: transparent;
  border: 1px solid #d7dbda;
  font-size: 14px;
  color: var(--iq-secondary);
  width: 100%;
}

.user-list,
.product-list,
.payment {
  width: 100%;
  height: 700px;
  overflow-y: auto;
}

.payment {
  background-color: white;
  padding: 20px;
}

.icon {
  position: absolute;
  top: 30px;
  left: 70px;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (width <= 576px) {
  .icon {
    top: 10px;
    left: 15px;
  }
}

@keyframes goleft {
  100% {
    transform: translateX(0%);
  }
}
