:host {
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
  width: 100%;

  background: #ffffff;
  box-shadow: 0 1px 7px rgb(0 0 0 / 7%);
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  padding: 15px 16px;
  line-height: 1.5;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width <= 1200px) {
  .image {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}

.image img {
  display: block;
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.info {
  width: 100%;
}

.top,
.bottom {
  display: flex;
}

.top {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

.action {
  display: flex;
  gap: 10px;
}
@media (width<= 1200px) {
  .action {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 250px;
    top: 25px;
    right: 10px;
    background-color: rgb(250 250 250);
    padding: 12px;
    box-shadow: 0 1px 7px rgb(0 0 0 / 7%);
    border: 1px solid #dbdbdb;
    border-radius: 3px;
  }
  .action.show_more {
    display: flex;
  }
}

.action .delete,
.action .edit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  border-radius: 30px;
  font-size: 13px;
  padding: 15px 15px 12px 12px;
  color: rgb(57, 55, 56);
}

.action .delete,
.action .edit {
  background: rgb(253, 236, 239);
  user-select: none;
  cursor: pointer;
}

.more-icon {
  display: block;
}

@media (width > 1200px) {
  .more-icon {
    display: none;
  }
}
.bottom {
  padding-top: 12px;
  border-top: 1px solid #ececec;
}

.bottom .mode {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom .mode .image {
  width: 50px;
  height: 50px;
}

.bottom .mode .image img {
  width: 100%;
  height: 100%;
}

h6 {
  line-height: 1;
}
